body {
    background-color: #080F08;
    margin: 0px;
    padding: 0px;
}

#view {
    background-color: #080F08;
    margin: 0px;
    padding: 0px;
    position: absolute;
    left: 0px;
    top: 0px;
    overflow: hidden;
}